<p>word-list-input-three works!</p>
<form [formGroup]="inputForm " class="form-match">
  <label class="message">{{data.listhree}} - </label>
  <input disable-on-enter id="userInputs" 
          type="text" spellcheck=true 
          autofocus="autofocus"
          name="userInputs"
          (keyup.enter)="onEnter(data.listhreesec,userInputs.value)" 
          (click)="$event.stopPropagation()"
          #userInputs>
   <span class="outputMessage" style="color: red; text-align: center;">
    <div>{{errorMessage}}</div>
   </span> 
   <span class="correctMessage" style="color: blue; text-align: center;">
    <div>{{correctWord}}</div>
   </span>
  <label class="message">{{data.listhreesec}}</label>
  
</form>
<ul>
  <li *ngFor="let d of newData; let i=index; trackBy: trackByFn">
     {{d}}
  </li>
<ul>
 
  
  