<div 
> <p>In this part of the task, the first word of each pair will appear on the scren.<br>
Your job is to type the second word, and then press the RETURN key.<br>
You have several seconds to complete each pair.<br>
(You might see the same pair several times.)<br><br>
After your response, the computer will tell you if your answer was<br>
correct or incorrect.<br>
If your response was incorrect, the computer will give you the correct response.<br><br>
There is no penalty for guessing, but please try to answer<br>
as quickly and accurately as you can.<br>
if you cannot think of the word,<br>
you may press the RETURN key to see the correct response.<br>
You will then see this pair again later. <br>
</p>
<p>Press the SPACE bar to continue</p></div>


<!--label for="name">Name (4 to 8 characters):</label>

<input type="text" id="name" name="name" required
       minlength="4" maxlength="8" size="10"-->


<!-- event is passed to function >
<input (keyup)="onKeyUp($event)"--> 
