<div>
    <router-outlet></router-outlet>
    <nav>
        <ul class="main-content-nav">
          <li>
            <h2>
              <a routerLink="app-lits-one" routerLinkActive="active">List One</a>
            </h2>
          </li>
          <li>
            <h2><a routerLink="app-lits-three" routerLinkActive="active">List Three</a></h2>
          </li>
          <li>
            <h2><a routerLink="app-list-five" routerLinkActive="active">List Five</a></h2>
          </li>
        </ul>
      </nav>
</div>
