<div>
    <nav>
        <ul>
          <li>
            <a
              routerLink="/app-lits1"
              ariaCurrentWhenActive="page"
              >List One</a
            >
          </li>
          <li>
            <a  
              routerLink="/app-lits3"
              ariaCurrentWhenActive="page"
              >List Three</a
            >
          </li>
          <li>
            <a
              routerLink="/app-lits5x"
              ariaCurrentWhenActive="page"
              >List Five</a
            >
          </li>
        </ul>
      </nav>
      
</div>
