<p>word-list-input-five works!</p>
<form [formGroup]="inputForm " class="form-match">
    <label class="message">{{data.listfive}} - </label>
    <input disable-on-enter id="userInputs" 
            type="text" spellcheck=true 
            autofocus="autofocus"
            name="userInputs"
            (keyup.enter)="onEnter(data.listfivesec,userInputs.value)" 
            (click)="$event.stopPropagation()"
            #userInputs>
     <span class="outputMessage" style="color: red; text-align: center;">
      <div>{{errorMessage}}</div>
     </span> 
     <span class="correctMessage" style="color: blue; text-align: center;">
      <div>{{correctWord}}</div>
     </span>
    <label class="message">{{data.listfivesec}}</label>
    
  </form>
  <ul>
    <li *ngFor="let d of newData; let i=index; trackBy: trackByFn">
       {{d}}
    </li>
  <ul>